   body {
            margin: 0;
        }   
        .container {
            display: flex;
            flex-direction: row;
            gap: 0.7vh;
            padding: 1vh;
            justify-content: space-between;
            background-color: rgb(55, 56, 57);
            
            color: white;
        }
        .container input {
            width:140vh;
            margin-top: 0.5vh;
            height: 2.5vh;
        }
        .logo {
            font-size: 3.5vh;
            font-weight: bold;
            padding-left: 0.5vh;
        }
        .admin {
            font-size: 2.5vh;
            margin-top: 1px;
            padding-right: 1vh;
        }
        .main{
            display: flex;
            height: 90vh;
            
            
        }
        .sidebar {
            width: 50vh;
            background-color: rgb(6, 12, 18);
            color: white;
            display: flex;
            flex-direction: column;
            padding: 1vh;
            
        }
        .sidebar a {
            color: white;
            text-decoration: none;
            margin: 1vh 0;
            
        }
        .content{
            padding: 2vh;
            display: flex;
            flex-direction: column;
            background-color: rgb(221, 224, 226);
            
        
        }
        .cards {
            display: flex;
            gap: 1vh;
            margin-bottom: 2vh;
            justify-content: space-between;
        }
        .card {
            background-color: rgb(252, 254, 255);
            color: rgb(12, 12, 12);
            
            width: 50vh;
            border-radius: 1vh;
            text-align: center;
        }
        .charts {
            display: flex;
            gap: 2vh;
        }
        .chart {
            background-color: rgb(44, 126, 167);
            color: rgb(223, 222, 222);
            width: 75vh;
            border-radius: 1vh;
            text-align: center;
        }
        footer {
            background-color: rgb(55, 56, 57);
            color: white;
            text-align: center;
            padding:0.5vh;
        }